@font-face {
  font-family: 'iconfont';  /* project id 2069632 */
  src: url('//at.alicdn.com/t/font_2069632_3uiflp0928n.eot');
  src: url('//at.alicdn.com/t/font_2069632_3uiflp0928n.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2069632_3uiflp0928n.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2069632_3uiflp0928n.woff') format('woff'),
  url('//at.alicdn.com/t/font_2069632_3uiflp0928n.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2069632_3uiflp0928n.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.icon-tuichu:before { 
	content: "\e606";
}
.icon-baocun:before {
	content: "\e605";
}
.icon-zhonghui:before {
	content: "\e79c";
}	
.icon-saoma:before {
	content: "\e660";
}	